<div class="breadcrumb">
  <%= render_breadcrumbs %>
</div>
<div style="padding-bottom:10px;"><%= link_to t('create_redpoll_question'), new_redpoll_question_path(@redpoll_poll), class: "icon icon-add" %></div>
<table class="poll-table">
  <tr style="background-color:#FBF0DB;">
    <th><%=t('position') %></th>
    <th><%=t('name') %></th>
    <th colspan="5"><%=t('control') %></th>
  </tr>

  <% @redpoll_questions.each do |redpoll_question| %>
    <tr>
    <td><%= redpoll_question.position %></td>
    <td><%= redpoll_question.val %></td>
    <td><%= link_to t('variants'), redpoll_variants_path(redpoll_question) %></td>
    <td><%= link_to t('edit'), edit_redpoll_question_path(redpoll_question) %></td>
    <td><%= link_to t('delete'), redpoll_questions_path(redpoll_question), method: :delete, data: {confirm: t('confirm_delete_question')} %></td>
    <td><%= link_to t('down_position'), down_position_redpoll_question_path(redpoll_question) %></td>
    <td><%= link_to t('up_position'), up_position_redpoll_question_path(redpoll_question) %></td>
  </tr>
<% end %>
</table>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redpoll', :plugin => 'redpoll' %>
<% end %>
